/* Declare site-global variables */
@font-face { font-family: Bahnschrift; src: local("Bahnschrift"), url("https://sasakowski.space/Stc/Fonts/Bahnschrift.ttf") format("opentype"); }
:root {
	--goldenratio: 1.618033;
	--silverratio: 2.414214;

	--space_s: calc(var(--space) / var(--silverratio));
	--space: 1vh;
	--space_l: calc(var(--space) * var(--silverratio));
	--space_xl: calc(var(--space_l) * var(--silverratio));
	--space_xxl: calc(var(--space_xl) * var(--silverratio));	

	--text_s: calc(var(--text) / var(--goldenratio));
	--text_l: calc(var(--text) * var(--goldenratio));
	--text_xl: calc(var(--text_l) * var(--goldenratio));
	--text_xxl: calc(var(--text_xl) * var(--goldenratio));

	--superorchestrator: #C000FF;
	--orchestrator: #FF8000;
	--author: #00C0FF;
	--reader: #C0FF00;
}
@media (orientation: landscape) {
	:root {
		--text: calc(var(--textPHP) * 1); /* textPHP is defined by PHP during Style\Init(); */
	}
}
@media (orientation: portrait) {
	:root {
		--text: calc(var(--textPHP) * 0.75); /* textPHP is defined by PHP during Style\Init(); */
	}
}

/* Foundation */
body {
	margin-top: 0px; margin-left: 0px;
	background-size: 6vw 6vw;
	font-family: Bahnschrift;
	min-width: 99vw; margin-right: 1vw;
	min-height: 98vh; margin-bottom: 2vh;
	font-size: var(--text);
	color: var(--textcolor);

	background-image: repeating-linear-gradient(45deg, var(--body) 0px, var(--body) 2vw, transparent 0%, transparent 50%);
	background-color: var(--body2);
}

flex_columns, flex_rows {
	display: flex;
	justify-content: flex-start;
	flex: 1;
	flex-wrap: wrap;
}
flex_columns { flex-direction: row; }
flex_rows { flex-direction: column; }
flex_columns.noflex, flex_rows.noflex { flex: 0; }
flex_columns.hugright, flex_rows.hugright { justify-content: flex-end; }
space_amap.noflex { flex: 0; }

block, block2, block3 {
	border-radius: 1vh;
	display: inline-flex;
	flex: 1;
	padding: 1vh;
}
block { background-color: var(--theme); }
block2 { background-color: var(--theme2); }
block3 { background-color: var(--theme3); }
block.corner, block2.corner, block3.corner { border-top-left-radius: 0vh; }

flex_rows > space_s { width: 0px; height: var(--space_s); }
flex_columns > space_s { width: var(--space_s); height: 0px; }
flex_rows > space { width: 0px; height: var(--space); }
flex_columns > space { width: var(--space); height: 0px; }
flex_rows > space_l { width: 0px; height: var(--space_l); }
flex_columns > space_l { width: var(--space_l); height: 0px; }
flex_rows > space_xl { width: 0px; height: var(--space_xl); }
flex_columns > space_xl { width: var(--space_xl); height: 0px; }
flex_rows > space_xxl { width: 0px; height: var(--space_xxl); }
flex_columns > space_xxl { width: var(--space_xxl); height: 0px; }
flex_rows > space_amap { width: 0px; height: 100%; }
flex_columns > space_amap { width: 100%; height: 0px; }

text_s, text, text_l, text_xl, text_xxl { white-space: preserve-breaks; }
texth_s, texth, texth_l, texth_xl, texth_xxl { white-space: preserve-breaks; text-decoration: underline; text-decoration-style: dashed; }
text_s, texth_s { font-size: var(--text_s); }
text, texth { font-size: var(--text); }
text_l, texth_l { font-size: var(--text_l); }
text_xl, texth_xl { font-size: var(--text_xl); }
text_xxl, texth_xxl { font-size: var(--text_xxl); }

.center_h { justify-content: center; }
.center_v { align-items: center; }
.center {justify-content: center; align-items: center; }
flex_rows.center_h { align-items: center; }
flex_rows.center_v { justify-content: center; }
flex_columns.center_h { justify-content: center; }
flex_columns.center_v { align-items: center; }

/* Main */
#TOP_LOGO:hover { animation: TopLogoRotation 4s infinite linear; }
@keyframes TopLogoRotation {
	from { transform: rotate(359deg); } to { transform: rotate(0deg); }
}

a { color: var(--accent); font-style: italic; }
a:hover { color: var(--accent3); }
a, u {  text-decoration: underline; text-decoration-thickness: 0.2vh; }
quote::before { content: "„"; }
quote::after { content: "“"; }
input, select, textarea { font-size: var(--text); font-family: Bahnschrift; }

.superorchestrator { color: var(--superorchestrator); }
.orchestrator { color: var(--orchestrator); }
.author { color: var(--author); }
.reader { color: var(--reader); }
.background.superorchestrator { background-color: var(--superorchestrator); }
.background.orchestrator { background-color: var(--orchestrator); }
.background.author { background-color: var(--author); }
.background.reader { background-color: var(--reader); }

@media (orientation: portrait) {
	body {
		font-variation-settings: "wght" 350, "wdth" 75;
		b { font-variation-settings: "wght" 500, "wdth" 75; }
	}
}
@media (orientation: landscape) {
	@media only screen and (max-width: 500px) {
		body { font-variation-settings: "wght" 350, "wdth" 75; }
		b { font-variation-settings: "wght" 700, "wdth" 75; }
	}
	@media only screen and (min-width: 501px) and (max-width: 750px) {
		body { font-variation-settings: "wght" 350, "wdth" 87.5; }
		b { font-variation-settings: "wght" 700, "wdth" 87.5; }
	}
	@media only screen and (min-width: 751px) {
		body { font-variation-settings: "wght" 350, "wdth" 100; }
		b { font-variation-settings: "wght" 700, "wdth" 100; }
	}
}

.COLLAPSIBLE[data-collapsed=""] > *:not(.HEADER) { display: none; }
.COLLAPSIBLE > .HEADER:hover, .COLLAPSIBLE > .HEADER:active {
	color: var(--accent);
}
.COLLAPSIBLE > .HEADER:hover::before, .COLLAPSIBLE > .HEADER:active::before {
	color: var(--accent);
}
.COLLAPSIBLE[data-collapsed=""] > .HEADER::before {
	content: "📘 ";
	filter: grayscale();
}
.COLLAPSIBLE:not([data-collapsed=""]) > .HEADER::before {
	content: "📖 ";
	filter: grayscale();
}